.product{
    width: 31%;
    padding: 50px 15px 20px 15px;
    background-color: #DDDDDD;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin:0 1% 20px 1%;
    .vector{
        position: absolute;
        right: -21px;
        top: 0;
        z-index: 1;
    }
    .product-image{
        width: 100%;
    }
    h5{
        text-transform: uppercase;
    }
    div{
        width: 90%;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5{
            text-transform: lowercase;
            span{
                font-size: 14px;
                padding-right: 3px;
                color: cadetblue;
            }
        }
        .product-size{
            border: 1px solid #12724F;
            border-radius: 10px;
            padding: 5px 3px;
            color: #12724F;
        }
    }
    a{
        color: white;
        background-color: #12724F;
        font-size: 14px;
        padding: 20px;
        border-radius: 15px;
        text-decoration: none;
    }
}